@model IEnumerable<CocktailMagician.Web.Models.CocktailViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cocktails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="Cocktails" class="cell-border table-hover">
    <thead class="dt-body-center">
        <tr>
            <th>Name</th>
            <th>Bars</th>
            <th>Ingredients</th>
            <th></th>
        </tr>
    </thead>
</table>

<link href="~/DataTables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<link href="~/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

@section Scripts
    {
    <script src="~/DataTables/js/jquery.dataTables.js" type="text/javascript" language="javascript"></script>
    <script src="~/DataTables/js/jquery.dataTables.min.js" type="text/javascript" language="javascript"></script>
    <script src="~/DataTables/js/dataTables.bootstrap4.js"></script>
    <script type="text/javascript" class="init"></script>
    <script>
        $('#Cocktails').DataTable
            ({
            "serverSide": true,
            "ordering" : true,
            "processing" : true,
            "paging": true,
            "pageLength": 5,
            "lengthMenu": [5,10,25,50,100],
            "pagingType": "simple_numbers",
            "ajax" : {
            "url" : "@Url.Action("ListAllCocktails", "Cocktails")" ,
            "type" : "POST" ,
            "dataType" : "json" ,
                },
                drawCallback: function (settings) {
                    // Here the response
                    var response = settings.json;
                    console.log(response);
                    var role = response.role;
                    //console.log(role);
                    //return role;
                },
            "columns" : [
                {
                    "name": "Name","width":"15%", render: function (data, type, full, meta) {
                        return '<a class = "btn btn-warning" href="/cocktails/Details/' + full.id + '">'+full.name+'</a>';
                    },
                },
                { "data": "barNames", "name": "Bars", "autoWidth": true, "orderable": false, },
                { "data": "ingredientNames", "name": "Ingredients", "autoWidth": true, "orderable": false, },
                {
                    data: null, "width": "10%","orderable":false , render: function (data, type, row, meta) {
                        return '<a class="btn btn-danger" href="/Cocktails/Delete/' + row.id + '">Delete</a>';
                    }
                },

            ]});
    </script>
}