
@{
    ViewData["Title"] = "Missing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section>
        <div class="row">
            <img style="display:block; margin:auto;" src="~/Missing.jpg" />
        </div>
    </section>

