@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="row">
        <img style="display:block; margin:auto;" src="~/Bloods_d67e4e_974179.jpg" />
    </div>
</section>
