@model CocktailMagician.Web.Models.IngredientViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Name) Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cocktails)
        </dt>
        @foreach (var cocktail in Model.Cocktails)
        {
            @Html.ActionLink(cocktail.Name, "Details", "Cocktails", new { id = cocktail.Id })<span>, </span>
        }
    </dl>
</div>
<div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>